#clock {
    font-size: 50px;
}
#date {
    font-size: 25px;
    left:30px;
}

#status {
    display:none;
}

#callRemoteNumber {
    font-size:30px;
}

#alertTitle {
    font-size: 40px;
}