.genlist-call {
	position: absolute;
	width: 100%;
}
.genlist-message {
	position: absolute;
	width: 100%;
}
.genlist-call-inner-icon {
	width: 64px;
	height: 90px;
	margin-left: 6px;
	background-image: url("./images/b_logs_icon_body_btn_call_nor.png");
	position: absolute;
	top: 0;
}
.genlist-call-inner-text {
	font-size: 34px;
	margin: 19px 16px 19px 70px;
	height: 52px;
	width: 228px;
	text-align: center;
	position: absolute;
	top: 0;
}
.genlist-message-inner-icon {
	width: 64px;
	height: 90px;
	margin-left: 250px;
	background-image: url("./images/b_logs_icon_actionbar_btn_msg_nor.png");
	position: absolute;
	top: 0;
}
.genlist-message-inner-text {
	font-size: 34px;
	margin: 19px 70px 19px 16px;
	height: 52px;
	width: 228px;
	text-align: center;
	position: absolute;
	top: 0;
}
.genlist-call-background {
	width: 640px;
	height: 90px;
	background-image: url("./images/b_logs_gradient_bg.png");
	-webkit-transform: translate3d(-400px, 0px, 0);
}
.genlist-message-background {
	width: 640px;
	height: 90px;
	background-image: url("./images/b_logs_gradient_bg2.png");
	-webkit-transform: translate3d(-400px, 0px, 0);
}
