<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.inin.gearphoneapp.app" >
    <uses-permission android:name="com.samsung.accessory.permission.ACCESSORY_FRAMEWORK"/>
    <uses-permission android:name="android.permission.USE_SIP" />
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.VIBRATE" />
    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE" />
    <uses-permission android:name="android.permission.WAKE_LOCK" />
    <uses-permission android:name="android.permission.MODIFY_AUDIO_SETTINGS" />
    <uses-permission android:name="android.permission.RECORD_AUDIO" />
    <uses-permission android:name="android.permission.BLUETOOTH"/>
    <uses-permission android:name="android.permission.READ_PHONE_STATE"></uses-permission>
    <uses-feature
        android:name="android.hardware.sip.voip"
        android:required="true" />
    <uses-feature
        android:name="android.hardware.wifi"
        android:required="true" />
    <uses-feature
        android:name="android.hardware.microphone"
        android:required="true" />

    <application
        android:allowBackup="true"
        android:icon="@drawable/ic_launcher"
        android:label="@string/app_name"
        android:theme="@style/AppTheme" >
        <activity
            android:name="com.inin.gearphoneapp.app.MainActivity"
            android:label="@string/app_name" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name="com.inin.gearphoneapp.app.pref.PreferencesActivity"
            android:label="@string/title_activity_settings"
            android:parentActivityName="com.inin.gearphoneapp.app.MainActivity" >
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.inin.gearphoneapp.app.MainActivity" />
        </activity>

    <receiver android:name="com.samsung.android.sdk.accessory.ServiceConnectionIndicationBroadcastReceiver" >
        <intent-filter>
            <action android:name="android.accessory.service.action.ACCESSORY_SERVICE_CONNECTION_IND" />
        </intent-filter>
    </receiver>
    <receiver android:name="com.samsung.android.sdk.accessory.RegisterUponInstallReceiver" >
        <intent-filter>
            <action android:name="android.accessory.device.action.REGISTER_AFTER_INSTALL" />
        </intent-filter>
    </receiver>

    <meta-data
        android:name="AccessoryServicesLocation"
        android:value="/res/xml/accessoryservices.xml" />

        <service android:name=".GearAccessoryProviderService" >
        </service>

        <service android:name="com.inin.gearphoneapp.app.icws.IcwsService" />
    </application>

</manifest>
