<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.inin.gearphoneapp.app" >
    <uses-permission android:name="com.samsung.accessory.permission.ACCESSORY_FRAMEWORK"/>
    <uses-permission android:name="android.permission.INTERNET"/>

    <application
        android:allowBackup="true"
        android:icon="@drawable/ic_launcher"
        android:label="@string/app_name"
        android:theme="@style/AppTheme" >
        <activity
            android:name="com.inin.gearphoneapp.app.MainActivity"
            android:label="@string/app_name" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

    <receiver android:name="com.samsung.android.sdk.accessory.ServiceConnectionIndicationBroadcastReceiver" >
        <intent-filter>
            <action android:name="android.accessory.service.action.ACCESSORY_SERVICE_CONNECTION_IND" />
        </intent-filter>
    </receiver>
    <receiver android:name="com.samsung.android.sdk.accessory.RegisterUponInstallReceiver" >
        <intent-filter>
            <action android:name="android.accessory.device.action.REGISTER_AFTER_INSTALL" />
        </intent-filter>
    </receiver>

    <meta-data
        android:name="AccessoryServicesLocation"
        android:value="/res/xml/accessoryservices.xml" />

        <service android:name=".GearAccessoryProviderService" >
        </service>

        <service android:name="com.inin.gearphoneapp.app.icws.IcwsService" />
    </application>

</manifest>
