<?xml version="1.0" encoding="UTF-8"?>
<widget xmlns="http://www.w3.org/ns/widgets" xmlns:tizen="http://tizen.org/ns/widgets" id="http://yourdomain/GearSupervisor" version="1.0.0" viewmodes="maximized">
    <tizen:application id="IAwKoU5d3V.GearSupervisor" package="IAwKoU5d3V" required_version="1.0"/>
    <content src="index.html"/>
    <feature name="http://tizen.org/feature/screen.size.all"/>
    <icon src="inin.png" height="48" width="48"/>
    <tizen:metadata key="AccessoryServicesLocation" value="res/xml/accessoryservices.xml"/>
    <name>GearSupervisor</name>
    <tizen:privilege name="http://developer.samsung.com/privilege/accessoryprotocol"/>
    <tizen:setting background-support="disable" encryption="disable" hwkey-event="enable"/>
</widget>
